#container{
    display: grid;
    box-sizing: border-box;
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    grid-template-rows: repeat(5, 100px); 
    
    gap: 10px;
    grid-template-columns: 0.5fr 3fr;
}
#container> div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
  #container> header {
    
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
  #container> footer {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }


header{
    grid-row: 1/2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box1 {
   grid-column: 1/2;
    grid-row-start: 2;
    grid-row-end: 5;
}
footer{
    grid-row: 5/6;
    grid-column-start: 1;
    grid-column-end: 3;
}
.box2{
 grid-row: 2/3;
 grid-column: 2/3;
}
.box3{
    grid-row: 3/4;
    grid-column: 2/3;
}
.box4{
    grid-row: 4/5;
    grid-column: 2/3;
}